<h1><%= title %> </h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, iusto ducimus? Nihil, possimus distinctio sed, repudiandae repellat maiores non autem laudantium velit dolor et earum, in impedit explicabo doloribus voluptas.