<h1><%= title %> </h1>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem officia necessitatibus quo quisquam temporibus quod tenetur optio voluptatibus? Quo incidunt temporibus explicabo consectetur ea nostrum nam omnis ipsam sit accusamus?